<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, 'Enter your full name' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :alias, 'Enter a display name' %><br />
    <%= f.text_field :alias %>
  </div>

  <div class="field">
    <%= f.label :email, 'Enter your e-mail address you want to use' %><br />
    <%= f.email_field :email %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password, 'Enter a password' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Please re-enter your password' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign me up!" %>
  </div>
<% end %>
