<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <%= link_to "Develoo", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= active_link_to "FAQ", faq_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Contact Us", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "Commissions", commissions_path, class: "nav-link" %>
        </li>
        <% if current_user.has_role? :admin %>
        <li class="nav-item">
          <%= active_link_to "Users", users_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
      <ul class="navbar-nav d-flex justify-content-between align-items-center">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= gravatar_for current_user %>
            <%= current_user.name %> (<%= current_user.alias %>)
          </a>
          <div class="dropdown-menu align-items-center" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", profile_path(current_user), class: " dropdown-item" %>
            <%= link_to text_with_badge("Messages", current_user.unread_inbox_count), conversations_path, class: " dropdown-item" %>
            <%= link_to "Edit Account", edit_user_registration_path, class: " dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path , class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path , class: "nav-link" %>
        </li>
        <% end %>
      </ul>
  </div>
</nav>
<!-- <p><%= link_to "FAQ", faq_path %></p>
<p><%= link_to "Contact Us", contact_path %></p> -->
