<div class="card" style="width: 15rem;">
  <div class=card-img-top>
    <%= image_tag(commission.image.web.preview.url, alt: 'Image') if commission.image? %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= link_to commission.title, commission, class: "card-link" %></h4>
    <div class="card-body text-left">
      <div class="card-text">
        Developed by <br><%= link_to commission.user.alias, profile_path(commission.user) %>
        <% if commission.user.profile.image? %>
          <%= link_to(image_tag(commission.user.profile.image.web.thumb.url, alt: 'Image', class: "img-fluid"), commission.user.profile.image.url, target: '_blank') %>
        <% else %>
          <%= gravatar_image_tag(commission.user.email, alt: commission.user.alias, class: "img-fluid", gravatar: { secure: true, default: :identicon, size: 32 }, href: commission ) %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="small">
      <%= commission.description %>
    </div>
    <p class="card-text text-center">
      <%= number_to_currency(commission.price) %>
    </p>
  </div>
  <div class="card-body">
      <% if user_signed_in? %>
        <% if current_user == commission.user or current_user.has_role? :admin %>
          <div class="card-body">
            <%= link_to 'Edit', edit_commission_path(commission), class: "btn btn-secondary" %>
            <%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link btn btn-danger" %>
          </div>
        <% end %>
    <% else %>
      <p class="card-text">Sign <span><%= link_to "in", new_user_session_path , class: "card-link" %></span>/<span><%= link_to "up", new_user_registration_path , class: "card-link" %></span> to see details</p>
    <% end %>
  </div>
</div>
