<%= form_with(model: commission, local: true) do |form| %>
  <% if commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% commission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :commission_title, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :commission_description, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <% if commission.image? %>
      <%= image_tag commission.image.web.preview.url %>
      <div>
        <%= label_tag :remove_image do %>
          Remove image?
          <%= form.check_box :remove_image %>
        <% end %>
      </div>
    <% end %>
    <%= form.file_field :image, class: "form-control-file" %>
    <%= form.text_field :remote_image_url, class: "form-control col-sm-4", placeholder: "Upload via URL" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :commission_price, class: "form-control col-sm-4" %>
  </div>

    <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
