<% page_header "Commissions" %>
<% if user_signed_in? %>
  <% if current_user.has_any_role?(:admin, :dev) %>
    <p><%= link_to 'New Commission', new_commission_path, class: "btn btn-primary" %></p>
  <% end %>
<% end %>

<div class="form-inline">
<div class="form-group">
<%= form_tag commissions_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], class: "form-control col-sm-12", placeholder: "Enter a description" %>
  <%= submit_tag "Search", class: "btn btn-primary span" %>
<% end %>
</div>
</div>

<div class="container-fluid text-center">
  <div class="d-flex row">
    <% @commissions.each do |commission| %>
      <%= render "commission_row", commission: commission, order_item: @order_item %>
    <% end %>
  </div>
</div>
