<% page_header "Commissions" %>
<% if current_user.has_role? :admin || :dev %>
  <p><%= link_to 'New Commission', new_commission_path, class: "btn btn-primary" %></p>
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @commissions.each do |commission| %>
      <%= render "commission_row", commission: commission, order_item: @order_item %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commissions.each_with_index do |commission, i| %>
      <tr scope="row">
        <td><%= i + 1 %></td>
        <td><%= commission.user.alias %></td>
        <td><%= commission.title %></td>
        <td><%= commission.description %></td>
        <td><%= number_to_currency(commission.price) %></td>
        <td><%= link_to 'Show', commission, class: "btn btn-light" %></td>
        <% if current_user == commission.user %>
          <td><%= link_to 'Edit', edit_commission_path(commission), class: "btn btn-secondary" %></td>
          <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
