<p>
  <strong>Developer:</strong>
  <%= @commission.user.alias %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @commission.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commission.description %>
</p>

<hr>

<%= form_for @order_item, remote: true do |f| %>
  <div class="input-group d-flex justify-content-between">
    <div class="input-group-btn">
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.hidden_field :commission_id, value: @commission.id %>
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    </div>
    <h4 class="text-right">Price: <span style="color: green"><%= number_to_currency @commission.price %></span></h4>
  </div>
<% end %>

<% if current_user == @commission.user or current_user.has_role? :admin %>
  <%= link_to 'Edit', edit_commission_path(@commission) %> |
<% end %>
<%= link_to 'Back', commissions_path %>
